<div class="p1">
    <div class="container border border-primary m-5 text-center pt-2">
        <div class="row text-center">
            <div class="col">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                UPI
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2"><img
                                            src="https://i.postimg.cc/y6GqLNgj/2560px-Paytm-Logo-standalone-svg.png"
                                            alt="" style="width: 75px;"></label>
                                </div><br>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2"><img
                                            src="https://i.postimg.cc/PqJ9bsX9/769-7692873-download-google-pay-logo-png.jpg"
                                            alt="" style="width: 45px;"></label>
                                </div><br>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2"><img
                                            src="https://i.postimg.cc/XqD66jYf/Phone-Pe-Logo-wine.png" alt=""
                                            style="width: 150px; margin-top: -25px;"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                <i class="fa-sharp fa-solid fa-credit-card"></i> &nbsp; Credit/Debit Cards
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="col-md-6" style="margin-left: -250px;">
                                    <img src="https://img.freepik.com/free-vector/realistic-credit-card-design_23-2149126088.jpg?w=2000"
                                        alt="" class="w-25">
                                </div>
                                <div style="margin-top: -170px; margin-left: 170px;">
                                    <form action="">
                                        <div class="form-group">
                                            <label for="inputAddress">Card Number</label>
                                            <div>
                                                <input type="text" class="form-control w-75 ms-5" id="inputAddress"
                                                    placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputEmail4">Expiry</label>
                                                <input type="email" class="form-control w-75 ms-5" id="inputEmail4"
                                                    placeholder="MM/YY">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputPassword4">CVV/CVC</label>
                                                <input type="password" class="form-control w-75 ms-5"
                                                    id="inputPassword4" placeholder="">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                <i class="fa-sharp fa-solid fa-wallet"></i>&nbsp;Wallet
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2"><img
                                            src="https://i.postimg.cc/y6GqLNgj/2560px-Paytm-Logo-standalone-svg.png"
                                            alt="" style="width: 65px;"></label>
                                </div><br>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2"><img
                                            src="https://i.postimg.cc/PqJ9bsX9/769-7692873-download-google-pay-logo-png.jpg"
                                            alt="" style="width: 45px;"></label>
                                </div><br>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2"><img
                                            src="https://i.postimg.cc/XqD66jYf/Phone-Pe-Logo-wine.png" alt=""
                                            style="width: 130px; margin-top: -25px;"></label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2"><img
                                            src="https://download.logo.wine/logo/Amazon_Pay/Amazon_Pay-Logo.wine.png"
                                            alt="" style="width: 130px; margin-top: -25px;"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-success m-5" data-bs-toggle="modal" data-bs-target="#exampleModal">Proceed</button>
    </div>
</div>





<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Payment Successful</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container border border-primary">
                <div class="row text-center">
                    <div class="col">
                        <img src="https://outsourcing.org.mx/wp-content/uploads/2020/01/check02.gif" alt="" width="200px">
                        <h3 class="mt-3">Your Payment is Successful</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="order()" type="button" class="btn btn-primary">Home Page</button>
        </div>
      </div>
    </div>
  </div>